html {
    height: 100%;
}

body {
    background-image: url('./images/kurisu.jpg');
    background-size: cover;
    margin: 0;
    padding: 0 20px;
    display: flex;
    justify-content: center;
}

* {
    font-family: 'Catamaran', sans-serif;
    box-sizing: border-box;
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    body {
        background-image: url('./images/marek-piwnicki.jpg');
    }
}